.baseinformation{
	color: #999999;
	margin-top: 20px;
	margin-left: 20px;
	width: 800px;
	float: left;
}
.ppfinformationtitle{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #e6e6e6;
}
.maininformation{
	color: #666666;
	margin-left: 50px;
	margin-top: 40px;
	font-size: 13pt;
}

.singleitem{
	width: 500px;
	height: 40px;
	line-height: 40px;
}
.subitem1{
	float: left;
	width: 100px;
	text-align: right;
}
.subitem2{
	margin-left: 20px;
	float: left;
	width: 300px;
}
.subitem3{
	margin-left: 20px;
	float: left;
	width: 300px;
	display: none;
}
.ppfinput{
	height: 40px;
	font-family: yahei;
	border: none;
	font-size: 13pt;
	outline: none;
	color: #777777;
}
.ppftextarea{
	resize:none;
	font-size: 13pt;
	margin-top: 12px;
	font-family: yahei;
	border:none;
	outline: none;
	height: 150px;
	width: 400px;
	color: #777777;
}
.selectlist{
	font-family: yahei;
	outline: none;
	height: 30px;
	border:none;
	font-size: 12pt;
}


.tools{
	clear: both;
	margin-right: 150px;
}
.change{
	float: right;
	text-align: center;
	width: 60px;
	color: #3FA8E9;
	cursor: pointer;
}
#discard{
	display: none;
}