a{
	text-decoration: none;
}
body{
	font-family: yahei;
}
.header{
	position: fixed;
	left: 0px;
	top: 0px;
	height: 60px;
	width:100%;
	padding-left: 50px;
	background-color: #2EB7F2;
	padding-bottom:2px;
	text-align: center;
	box-shadow:0px 2px 10px #909090;
}

.top_button{
	float: left;
	height: 62px;
	width: 130px;
}
.inner_top{
	font-size: 13pt;
	margin-top: 20px;
	margin-bottom: 23px;
	height: auto;
}

@media screen and (max-width: 1500px) {
  	.top_button{
		float: left;
		height: 62px;
		width: 90px;
	}
}

.header_right{
	float: right;
	height: 60px;
	line-height: 60px;
	margin-right: 180px;
	font-size: 12pt;
	color: #E9E060;
}
.headername{
	position: absolute;
	margin-left: 20px;
	cursor: pointer;
}
.logout{
	margin-left: 10px;
	position: absolute;
	height: 30px;
	line-height: 30px;
	margin-top: 60px;
	width: 80px;
	z-index: 2;
	border-radius: 3px;
	background-color: #ffffff;
	display: none;
	box-shadow:0px 2px 10px #909090;
}
.main_icon{
	margin-top: 4px;
	width: 55px;
	border-radius: 30px;
}