body{
	margin: 60px 0;
	padding:0 0;
	overflow: hidden;
}
.left{
	float: left;
	width: 170px;
	padding-top: 20px;
	overflow: auto;
	background-color: #FAFAFA;
	border-right: 1px solid #e5e5e5;
}
.left_item{
	width:150px;
	padding-top: 15px;
	padding-bottom: 20px;
	height: 30px;
	padding-left: 30px;
	font-size: 12pt;
	cursor: pointer;
}
.lefttools{
	float: left;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 20px;
}
.right{
	float: left;
	overflow: hidden;
}
#color{
	display: none;
}