body{
	/*-webkit-filter: grayscale(1); /* Webkit */ 
    /*filter: gray;  IE6-9  */
    /*filter: grayscale(1);  W3C  */
}

#changdiv{
	display: none;
	position: fixed;
	color: #5542D1;
	margin-left: 300px;
	height: 140px;
	width: 600px;
	background-color: white;
	box-shadow:2px 2px 10px #909090;
}
#newdiv{
	display: none;
	position: fixed;
	color: #5542D1;
	margin-left: 300px;
	height: 140px;
	width: 600px;
	background-color: white;
	box-shadow:2px 2px 10px #909090;
}
.buttoncheck{
	float: right;
	position: absolute;
	left: 570px;
}
.buttoncancle{
	position: absolute;
	left: 575px;
	top: 35px;
}
.check{
	width: 30px;
	height: 30px;
}
.cancle{
	width: 20px;
	height: 20px;
}
.accountsceboth{
	font-size: 16pt;
	margin-left: 30px;
	margin-top: 20px;
	float: left;
	line-height: 40px;
}
.line{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	height: 100px;
	border-right: 1px dashed gray;
}
.seccontent{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	line-height: 40px;
	/*-webkit-filter: grayscale(1);  Webkit  */
}


#changesecname,#changename,#changesecpasswd,#changepasswd{
	width: 150px;
	height: 25px;
	border: 1px solid #5542D1;
	color: #5542D1;
}

#changeaddress{
	color: #5542D1;
	float: left;
}
#newsecname,#newname,#newsecpasswd,#newpasswd{
	width: 150px;
	height: 25px;
	border: 1px solid #5542D1;
	color: #5542D1;
}

#newaddress{
	color: #5542D1;
	height: 15px;
	border: 1px solid #5542D1;
}
.newaddress{
}

/*******************/

.accountshow{
	width: 310px;
	height: 140px;
	/*float: left;*/
	/*border-radius: 10px;*/
	box-shadow:2px 2px 10px #909090;
	color: #5542D1;
	margin-left: 260px;
	margin-top: 30px;
	background-color: #EBEBE4;

}

.picbutton{
	overflow: hidden;
	float: right;
	width: 30px;
}

.changeimg{
	width: 30px;
	height: 30px;
}
.deletediv{
	margin-left: 5px;
	margin-top: 5px;
}
.delete{
	width: 20px;
	height: 20px;
}
.accountboth{
	font-size: 16pt;
	margin-left: 30px;
	margin-top: 30px;
	float: left;
	line-height: 40px;
}
.username{
	float: left;
}
.password{
	width: 150px;
	height: 25px;
	border: 0;
	color: #5542D1;
}
.accountpwd{
	clear: both;
}
.showpassword{
	margin-top: 9px;
	float: right;
}
.showpasswordimg{
	width: 30px;
	height: 27px;
}

.accountsceshow{
	margin-left: 260px;
	margin-top: 30px;
	color: #5542D1;
	height: 140px;
	width: 640px;
	background-color: #EBEBE4;
	box-shadow:2px 2px 10px #909090;

}


.plusdiv{
	box-shadow:2px 2px 10px #909090;
	border-radius: 7px;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 260px;
}

.plus{
	width: 100px;
	height: 100px;
	opacity:0.3; 
}
.address{
	position: absolute;
	height: 20px;
	overflow: hidden;
}

