.arcitle{
	margin-left: 30px;
	margin-top: 30px;
	width: 200px;
	height: 250px;
	background-color: #cccccc;
	float: left;
	box-shadow:2px 2px 10px #909090;
}
.arcitleleft{
	margin-left: 30px;
	margin-top: 30px;
	width: 200px;
	height: 250px;
	background-color: #cccccc;
	float: left;
	clear: left;
	box-shadow:2px 2px 10px #909090;
}
.diarytitle{
	margin-top: 40px;
	margin-left: 3px;
	font-size: 15pt;
}
.diarycontent{
	margin-top: 50px;
	margin-left: 3px;
	font-size: 11pt;
	color: gray;
}
.diarycreattime{
	float: right;
	font-size: 9pt;
	margin-top: 40px;
	margin-right: 3px;
	color: gray;
}
.diarymodtime{
	float: right;
	font-size: 9pt;
	margin-top: 5px;
	margin-right: 3px;
	color: gray;
}