.books{
	margin-left: 80px;
	margin-top: 60px;
	width: 600px;
	background-color: #BBDFF2;
	box-shadow:2px 2px 10px #909090;
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 30px;
	float: left;
}

.book{
	margin-top: 30px;
	float: left;
	border-bottom: 1px solid gray;
}
.tools{
	float: right;
	width: 30px;
	margin-left: 20px;
}
.setting{
	border-radius: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.delete{
	margin-top: 2px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.bookinfo{
	margin-top: 15px;
	float: left;
	width: 200px;
}
.title{
	font-size: 19pt;
}
.description{
	font-size: 11pt;
	color: #898EAF;
	margin-top: 10px;
	margin-bottom: 10px;
}
.timediv{
	clear: both;
	float: right;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 9pt;
	color: #957EF2;
}
.contentinfo{
	margin-top: 15px;
	float: left;
	width: 300px;
}

.contenttitle{
	margin-left: 15px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom: 1px dashed gray;
}
.leasttitle{
	margin-left: 15px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.newdiarybook{
	border-radius: 25px;
	position: fixed;
	font-size: 15pt;
	line-height: 50px;
	text-align: center;
	left: 1120px;
	top: 300px;
	width: 50px;
	height: 50px;
	background-color: #8A7EF3;
}
.newdiv{
	position: fixed;
	width: 300px;
	height: 400px;
	background-color: #F4F493;
	left: 45%;
	top: 25%;
}
#newbooktitle{
	padding-left: 5px;
	height: 30px;
	font-size: 15pt;
	margin-top: 30px;
	margin-left: 10px;
	width: 150px;
	border: 0px;
	border-bottom: 1px solid gray;
	outline: none;
	background-color: #F4F493;
}
#newbookdesc{
	margin-top: 15px;
	height: 50px;
	margin-left: 10px;
	width: 220px;
	background-color: #F4F496;
	height: 250px;
	resize: none;
	border: 0px;
	outline: none;
}
.button{
	float: right;
	border: 0px;
	margin-right: 10px;
	width: 60px;
	height: 35px;
	background-color: #7882DE;
	border-radius: 3px;
}
.button:hover{
	background-color: #5967E8;
}
.button:active{
	background-color: #2F43F7;
}